body {
        font: 1em 'Myriad Pro', Arial, sans-serif;
        background: linear-gradient(45deg, cornflowerblue, midnightblue);
        background-size: 200% 200%;
        animation: AnimationName 80s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}



.container{
    border-radius: 20px;
    width: 500px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    border: 3px solid #FFFFFF;
}

.description {
    margin-left: 7%;
    margin-right: auto;
    width: 450px;
    height: 100px;
    color: #FFF

}

.lborder{
    margin-top: 1%;
}
a{

    margin-left:  5%;
    text-align: center;
    align-content: center;
    font-size: larger;
    font-family: Arial;
    height: 100px;
    color: white;
}
h2{
    color: #fff;
    text-align:center;
    position: relative
}

#text1 {
    border: 2px solid rgb(173, 204, 204);
    height: 31px;
    box-shadow: 0 0 27px rgb(204, 204, 204) inset;
    transition: 500ms all ease;
    margin-left: 45%;
    background: #FFF;
    height: 25px;
    position: relative;
    width: 150px;
    border-radius: 2em;
    border: none;
    color: #A2A2A2;
    padding-left: 1.5em;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%)

}

