body {
        font: 1em 'Myriad Pro', Arial, sans-serif;

background: linear-gradient(45deg,   midnightblue,cornflowerblue,cadetblue);background-size: 600% 600%;

animation: AnimationName 12s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}

div.image{
content:url("http://i.imgur.com/PXli9re.png");
width:150px;
height:150px;
    margin-left: auto;
    margin-right: auto;


}


.container{
margin-left: auto;
    margin-right: auto;
position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

h2{
    color: #fff;
text-align:center;
position: relative
}

p{
    color: #fff;

position: relative
}

#text1 {
    border: 2px solid rgb(173, 204, 204);
    height: 31px;
    margin-left: auto;
position: relative;
    margin-right: auto;
    width: 223px;
    box-shadow: 0 0 27px rgb(204, 204, 204) inset;
    transition: 500ms all ease;
    padding: 3px 3px 3px 3px;
}

#text1 {
    margin-left: auto;
    margin-right: auto;
            background: #FFF;
            height: 25px;
position: relative;
            width: 150px;
            border-radius: 2em;
            border: none;
            color: #A2A2A2;
            padding-left: 1.5em;
            outline: none;
            box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%)

}

#text1:hover,
#text1:focus {
    width: 260px;
    transition: 500ms all ease;
position: relative;
    background-size: 25px 25px;
    background-position: 96% 62%;
    padding: 3px 32px 3px 3px;
}
