{% load staticfiles %}
{% block content %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>SSearch</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
<h2>Sukhov Search Engine</h2>
<input type="text" id="text1" id="inp" onkeypress="return runScript(event)">
    <script>
		function runScript(e) {
            if (e.keyCode == 13) {
    window.location = "http://127.0.0.1:8000:/search/?request=" + encodeURIComponent(event.target.value);
}
        }
	</script>
<div class="lborder"> </div>
<div class="container"><a href="http://python.org/">http://python.org/</a>
<div class="description">is indexed</div>
</div>

</body>
</html>
{% endblock content %}