{% extends 'finder/base.html' %}
{% block content %}
	<div class="container">
        <div class="image"></div>
		<h2>Sukhov Search Engine</h2>
        <p>Searching/Indexing for:</h2>
        <input type="text" id="text1" id="inp" onkeypress="return runSearchScript(event)"><br>
    </div>

    <script>
		function runSearchScript(e) {
            if (e.keyCode == 13) {
                //window.alert("kek");
               /* $.ajax({
                    method: 'GET',
                    url: 'http://127.0.0.1:8000/rest-auth/logout/',
                    data: {
                        "token": token,
                    },
                    success: function(data){
                        $scope.isAuthorized = false;
                        $scope.notes = []
                        sessionStorage.removeItem(tokenKey, data.key);
                        $scope.$apply();
                    },
                });*/

                window.location = "http://127.0.0.1:8000/search/?r=" + encodeURIComponent(e.target.value);
            }           
        }
	</script>
{% endblock content %}